<div class = "table-responsive-sm">
    <table class = "table table-striped">
        <table class = "table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>タイトル</th>
                    <th>ジャンル</th>
                    <th>貸出</th>
                    <th>返却予定日</th>
                </tr>
            </thead>
            <tbody>
                <tbody>
                    <tr>
                        <th scope = "row"><%= @book.id %></th>
                        <td><%= @book.title %></td>
                        <td><%= @book.genre.genre %></td>
                        <td><%= @book.status ? "可" : (@reservations.find_by(book_id: @book.id) ? "可" : "不可") %></td>
                        <td><%= @book.return_date %></td>
                    </tr>
                </tbody>
            </tbody>
        </table>
    </table>    
</div>

<% if @reservation %>
    <% if @reservations.find_by(book_id: @book.id) %>
        <p>この本は既に予約済みです</p>
        <%= link_to "本を借りる", '#', class: "btn btn-info" %>
    <% else %>
        <p>現在，この本は予約・貸出ができません</p>
    <% end %>
<% else %>
    <%= form_tag("/reservations") do %>
        <input type = "hidden" name = "book_id" value = "<%= @book_id %>">
        <button type = "submit" class = "btn btn-info mt-2">予約する</button>
    <% end %>
<% end %>

